%ul
  %li= "@exception.inspect #=> #{@exception.inspect}"
  %li= "@exception.to_s #=> #{@exception.to_s}"
  %li= "@exception.class.name.split('::').last #=> #{@exception.class.name.split('::').last}"
  %li= "@exception.status_code #=> #{@exception.status_code}"
  %li= "@exception.status #=> #{@exception.status}"
  %li= "@exception.message #=> #{@exception.message}"
