= form_for @user, :as => :user, :url => {:controller => 'sessions', :action => 'create'} do |form|
  %fieldset.sessions
    %legend Sign In
    %div.field
      = form.label :username, 'Username or Email'
      = form.text_field :username
    %div.field
      = form.label :password, 'Password'
      = form.password_field :password, :value => nil

  %div.field= submit_tag 'Submit'
