= form_for @user, :as => :user, :url => {:controller => 'sessions', :action => 'create'} do |f|

  %ul
    %li
      = f.label :username, 'Username'
      = f.text_field :username
    %li
      = f.label :password, 'Password'
      = f.password_field :password

  .actions
    = f.submit 'sign in'
