= form_for @node, :as => :node, :url => { :controller => 'nodes' } do |form|
  %fieldset.node
    %legend Common
    %ul
      %li
        = form.label :title, 'Title'
        = form.text_field :title
    %fieldset.node{ :class => @node.machine_name }
      %legend= "#{@node.class.name}"
      = show_node @node, :fieldset, :form => form
    %ul
      %li= submit_tag 'Commit'
      %li= link_to 'Cancel', root_path
