= form_for [:admin, @node] do |form|
  %fieldset.node
    %legend Common
    %ul
      %li
        = form.label :title, 'Title'
        = form.text_field :title
      %li
        = form.label :filter_group_id, 'Filter Group'
        = form.collection_select :filter_group_id, @filter_groups, :id, :name, :selected => node.filter_group.id
      %li
        TODO list required and optional vocabularies and allow terms to be associated
      - if node.new?
        %li
          = label_tag :node_type, 'Node Type'
          = select_tag :node_type, options_for_select(@node_types, @selected_node_type)
    %div#node_extension_fields
      - unless node.machine_name == 'node'
        = partial :node_extension_fieldset, :node => node
    %ul
      %li= submit_tag 'Commit'
      %li= link_to 'Cancel', admin_nodes_path
