= form_for [:admin, @node] do |form|
  = hidden_field_tag :parent_id, @parent.try(:id)
  %fieldset.node
    %legend Common
    %div.field
      = form.label :title, 'Title'
      = form.text_field :title
    %div.field
      = form.label :path, 'Path'
      = form.text_field :path
    %div.field
      = form.label :filter_group_id, 'Filter Group'
      = form.collection_select :filter_group_id, @filter_groups, :id, :name, :selected => @node.filter_group_id
    %div.field
      = form.label :state, 'State'
      = form.select :state, @node_states, :selected => @node.state
    - if @node.new?
      %div.field
        = label_tag :node_type, 'Node Type'
        = select_tag :node_type, options_for_select(@node_types, @selected_node_type)
    %fieldset#node_extension_fields.node= render 'node_extension_fieldsets', :node => @node

  %div.field= submit_tag 'Commit'
