%header
  %span.h Listing nodes

%section
  %table#content_overview
    %col.node-type
    %col.node-title
    %col.actions
    %thead
      %tr
        %th Type
        %th Title
        %th Actions
    %tfoot
      %tr
        %th
        %th
        %th
    %tbody
      - @nodes.each do |node|
        %tr
          %td= node.class.name
          %td.ancestors-0= node.title
          %td
            %span.view= link_to 'View', node_path(node)
            %span.edit= link_to 'Edit', edit_admin_node_path(node)
            %span.destroy= link_to 'Delete', admin_node_path(node), :confirm => 'Are you sure?', :method => :delete # FIXME clicking this simply GETs the resource
