%header
  %span.h Listing nodes

%section
  %table#content_overview
    %col.actions
    %col.node-type
    %col.filter-group
    %col.vocabularies
    %col.node-children
    %col.node-title
    %col.state
    %thead
      %tr
        %th Actions
        %th Type
        %th Filter Group
        %th Vocabularies
        %th Children
        %th Title
        %th Status
    %tfoot
      %tr
        %td{ :colspan => 7 }= link_to 'Add', new_admin_node_path(:parent_id => @parent.try(:id))
    %tbody
      - @nodes.each do |node|
        %tr
          %td
            %span.view= link_to 'View', human_node_path(node.to_path)
            %span.edit= link_to 'Edit', edit_admin_node_path(node)
            %span.destroy= link_to 'Delete', [:admin, node], :confirm => 'Are you sure?', :method => :delete # FIXME clicking this simply GETs the resource
          %td= node.class.title
          %td= node.filter_group.name
          %td= node.vocabularies.map { |vocabulary| vocabulary.name }.sort.join ', '
          %td= link_to node.children.count, admin_nodes_path(:node_type => node.class.machine_name, :parent_id => node.id)
          %td= node.title
          %td= node.state
