= form_for [:admin, @vocabulary] do |form|
  %fieldset.vocabulary
    %legend Vocabulary
    %div.field
      = form.label :name, 'Name'
      = form.text_field :name
    %div.field
      = form.label :is_freetaggable, 'Allow Freetagging'
      = form.check_box :is_freetaggable
    %div.field
      = form.label :is_hierarchical, 'Hierarchical?'
      = form.check_box :is_hierarchical
    %div.field
      = form.label :is_multiselectable, 'Multiple Selections'
      = form.check_box :is_multiselectable
    %div.field
      = form.label :node_types_optional, 'Optional Node Extensions'
      = form.select :node_types_optional, options_for_select(@node_extensions_optional.sort, @node_extensions_optional_selected), {}, :multiple => true, :size => 5
    %div.field
      = form.label :node_types_required, 'Required Node Extensions'
      = form.select :node_types_required, options_for_select(@node_extensions_required.sort, @node_extensions_required_selected), {}, :multiple => true, :size => 5

  %div.field= submit_tag 'Commit'
