= form_for [:admin, @vocabulary] do |f|
  %fieldset.vocabulary
    %legend Vocabulary
    %ul
      %li
        = f.label :name, 'Name'
        = f.text_field :name
      %li
        = f.label :is_freetaggable, 'Allow Freetagging'
        = f.check_box :is_freetaggable
      %li
        = f.label :is_multiselectable, 'Multiple Selections'
        = f.check_box :is_multiselectable
      %li
        = f.label :node_types_optional, 'Optional Node Extensions'
        = f.select :node_types_optional, options_for_select(@node_extensions_optional, @node_extensions_optional_selected), {}, :multiple => true, :size => 5
      %li
        = f.label :node_types_required, 'Required Node Extensions'
        = f.select :node_types_required, options_for_select(@node_extensions_required, @node_extensions_required_selected), {}, :multiple => true, :size => 5
    %ul
      %li= submit_tag 'Commit'
      %li= link_to 'Cancel', admin_vocabularies_path
