= @vocabulary.name

= render :partial => 'terms', :locals => { :vocabulary => @vocabulary }

= link_to 'Edit', edit_admin_vocabulary_path(@vocabulary)
\|
= link_to 'Terms', admin_vocabulary_terms_path(@vocabulary)
\|
= link_to 'Back', admin_vocabularies_path
