%header
  %span.h Listing addons

%section
  - form_tag :action => :update do
    - @addons.each do |addon_type, addons|
      %fieldset.addon
        %legend= addon_type.name.pluralize
        %ul
          - addons.each do |addon|
            %li
              = check_box_tag "#{addon_type.machine_name}[#{addon.machine_name}]", 1, addon_type.enabled.include?(addon)
              = label_tag addon.machine_name, "#{addon.name} - addon.description"
    %ul
      %li= submit_tag 'Commit'