= form_for [:admin, @setting] do |f|
  %fieldset.setting
    %legend= @setting.name
    %ul
      %li
        = f.label :value
        = f.text_field :value
    %ul
      %li= f.submit 'Commit'
      %li= link_to 'Cancel', admin_settings_path
