%header
  %span.h Listing settings

%section
  %table#content_overview
    %col.actions
    %col.setting-type
    %col.setting-scope
    %col.setting-name
    %col.setting-value
    %thead
      %tr
        %th Actions
        %th Type
        %th Scope
        %th Name
        %th Value
    %tfoot
      %tr
        %td
        %td
        %td
        %td
        %td
    %tbody
      - @settings.each do |setting|
        %tr
          %td
            %span.edit= link_to 'Edit', edit_admin_setting_path(setting)
            %span.destroy= link_to 'Delete', [:admin, setting], :confirm => 'Are you sure?', :method => :delete # FIXME clicking this simply GETs the resource
          %td= # setting.type
          %td= setting.scope
          %td= setting.name
          %td= setting.value
