= form_for [:admin, @vocabulary, @term] do |f|
  %fieldset.terms
    %legend Terms for #{@vocabulary.name}
    %ul
      %li
        = f.label :name, 'Name'
        = f.text_field :name
    %ul
      %li= submit_tag 'Commit'
