= form_for [:admin, @vocabulary, @term] do |form|
  %fieldset.terms
    %legend Terms for #{@vocabulary.name}
    %div.field
      = form.label :name, 'Name'
      = form.text_field :name

  %div.field= submit_tag 'Commit'
