= form_for [:admin, @user] do |f|
  -if @user.errors.any?
    #error_explanation
      %h2= "#{pluralize(@user.errors.count, "error")} prohibited this user from being saved:"
      %ul
        - @user.errors.full_messages.each do |msg|
          %li= msg
  %fieldset.user
    %legend User
    %ul
      %li
        = f.label :username, 'Username'
        = f.text_field :username
      %li
        = f.label :email, 'Email'
        = f.email_field :email
      %li
        = f.label :password, 'Password'
        = f.password_field :password
      %li
        = f.label :password_confirmation, 'Password Confirmation'
        = f.password_field :password_confirmation
  %ul.actions
    %li= f.submit 'Save'
    %li= link_to 'Cancel', admin_users_path
