= form_for [:admin, @user] do |form|
  %fieldset.user
    %legend User
    %div.field
      = form.label :username, 'Username'
      = form.text_field :username
    %div.field
      = form.label :email, 'Email'
      = form.email_field :email
    %div.field
      = form.label :password, 'Password'
      = form.password_field :password, :value => nil
    %div.field
      = form.label :password_confirmation, 'Password Confirmation'
      = form.password_field :password_confirmation, :value => nil

  %div.field= submit_tag 'Save'
