= form_for [:admin, @user] do |f|
  %fieldset.user
    %legend User
    %ul
      %li
        = f.label :username, 'Username'
        = f.text_field :username
      %li
        = f.label :email, 'Email'
        = f.email_field :email
      %li
        = f.label :password, 'Password'
        = f.password_field :password, :value => nil
      %li
        = f.label :password_confirmation, 'Password Confirmation'
        = f.password_field :password_confirmation, :value => nil
  %ul.actions
    %li= f.submit 'Save'
    %li= link_to 'Cancel', admin_users_path
