!!! 5
%html{ :lang => 'en', :xmlns => 'http://www.w3.org/1999/xhtml', 'xml:lang' => 'en'}
  %head
    %title= @title

    %meta{ 'http-equiv' => 'Content-Type', 'content' => 'application/xhtml+xml; charset=utf-8' }/
    = csrf_meta_tag

    - # %link{ :rel => 'shortcut icon', :href => '/images/favicon.ico' }/

    = stylesheet_link_tag assets_styles_path(:template => 'default_admin'), :media => 'all'

    = javascript_include_tag assets_scripts_path(:template => 'default_admin')

  %body{ :id => page_id, :class => page_classes }
    %header#branding
      %span.h= link_to @site_name, root_path
      %span= @site_tagline

    %nav#main_menu
      %ul
        %li= link_to 'Dashboard', admin_root_path
        %li
          = link_to 'New', new_admin_node_path
          - unless @active_node_extensions.empty?
            %ul
              - @active_node_extensions.each do |extension|
                %li= link_to extension.titleize, new_admin_node_path(:node_type => extension)
        %li= link_to 'Content', admin_nodes_path
        %li
          Templates
          %ul
            %li Frontend
            %li Backend
        %li Settings

    %section#content
      = yield
