!!! 5
%html{ :lang => 'en', :xmlns => 'http://www.w3.org/1999/xhtml', 'xml:lang' => 'en'}
  %head
    %title= @title

    %meta{ 'http-equiv' => 'Content-Type', 'content' => 'application/xhtml+xml; charset=utf-8' }/
    = csrf_meta_tag

    - # %link{ :rel => 'shortcut icon', :href => '/images/favicon.ico' }/

    = stylesheet_link_tag assets_styles_path(:template => 'default_admin'), :media => 'all'

    = javascript_include_tag assets_scripts_path(:template => 'default_admin')

  %body{ :id => page_id, :class => page_classes }
    %header#branding
      %span.h= link_to setting('core.site.name'), root_path
      %span= setting('core.site.tagline')

    %nav#main_menu
      = partial 'shared/menu', :items => @main_menu_items

    %section#flash
      - [ :error, :warning, :notice ].each do |level|
        = partial 'shared/flash', :level => level, :messages => flash[level] if flash[level]

    %section#content
      = yield
