!!! 5
%html{ :lang => 'en', :xmlns => 'http://www.w3.org/1999/xhtml', 'xml:lang' => 'en'}
  %head
    %title= @title

    %meta{ 'http-equiv' => 'Content-Type', 'content' => 'application/xhtml+xml; charset=utf-8' }/
    = csrf_meta_tag

    /%link{ :rel => 'shortcut icon', :href => '/images/favicon.ico' }/

    = theme_tags Setting[:addon, :theme, :backend]
  %body{ :id => page_id, :class => page_classes }
    %header#branding

    %nav#main_menu
      = partial 'shared/menu', :items => @main_menu_items

    %section#flash

    %section#content
      = yield
