!!! 5
%html{ :lang => 'en', :xmlns => 'http://www.w3.org/1999/xhtml', 'xml:lang' => 'en'}
  %head
    %title= @title

    %meta{ 'http-equiv' => 'Content-Type', 'content' => 'text/html; charset=utf-8' }/

    %link{ :rel => 'shortcut icon', :href => '/images/favicon.ico' }/

    %script{ :type => 'text/javascript', :src => 'http://assets.ravinggenius.com/js?modernizr=1.1&jquery=1.4' }
    %style{ :type => 'text/css', :media => 'all'} @import url('http://assets.ravinggenius.com/css?html5reset=1.4');
    = auto_discovery_link_tag

    = stylesheet_link_tag 'application'
    = javascript_include_tag 'application'

    = render 'layouts/tracking_google' if @show_tracking_google

  %body
    %header{ :id => 'branding' }
      %a{ :href => '/' }
        %img{ :src => '/images/logo.png', :alt => 'logo' }/
        %span{ :class => 'h' }= @site_name
      %span= @site_tagline

    %nav{ :id => 'main_menu' }

    %section{ :id => 'content' }
      = yield

    %footer{ :id => 'credits' }
      %p= raw "&copy; 2010 #{@site_name}"

    = render 'layouts/unobtrusive' if @show_unobtrusive_badge
    = render 'layouts/tracking_woopra' if @show_tracking_woopra
