!!! 5
%html{ :lang => 'en', :xmlns => 'http://www.w3.org/1999/xhtml', 'xml:lang' => 'en'}
  %head
    %title= @title

    %meta{ 'http-equiv' => 'Content-Type', 'content' => 'application/xhtml+xml; charset=utf-8' }/
    = csrf_meta_tag

    - # %link{ :rel => 'shortcut icon', :href => '/images/favicon.ico' }/
    = auto_discovery_link_tag

    = theme_tags @selected_theme

    = show_widgets @widgets[:head]
  %body{ body_attributes }
    %header#branding= show_widgets @widgets[:branding]

    %nav#main_menu
      = render :partial => 'shared/menu', :locals => { :items => @main_menu_items }

    %section#flash= show_widgets @widgets[:flash]

    %section#content= yield

    %footer#credits= show_widgets @widgets[:credits]

    = show_widgets @widgets[:tail]
