!!! 5
= classy_html_tags :html, html_attrs do
  %head
    = show_region @selected_layout.region(:head_alpha)

    -# TODO these should move to widgets
    %title= @title
    -# %link{ :rel => 'shortcut icon', :href => '/images/favicon.ico' }/
    = auto_discovery_link_tag

    %meta{ :charset => 'utf-8' }/

    = csrf_meta_tag
    = theme_tags @selected_theme

    = show_region @selected_layout.region(:head_omega)
  %body{ body_attributes, :class => @selected_layout.name.dasherize }
    = show_region @selected_layout.region(:body_alpha)

    - @selected_layout.custom_regions.each do |region|
      = show_region region

    = show_region @selected_layout.region(:body_omega)
