!!! 5
%html{ :lang => 'en', :xmlns => 'http://www.w3.org/1999/xhtml', 'xml:lang' => 'en'}
  %head
    = show_region @selected_layout.region(:head_start)

    %title= @title

    %meta{ 'http-equiv' => 'Content-Type', 'content' => 'application/xhtml+xml; charset=utf-8' }/
    = csrf_meta_tag

    /%link{ :rel => 'shortcut icon', :href => '/images/favicon.ico' }/
    = auto_discovery_link_tag

    = theme_tags @selected_theme

    = show_region @selected_layout.region(:head_end)
  %body{ body_attributes, :class => @selected_layout.name.dasherize }
    = show_region @selected_layout.region(:body_start)

    / TODO move to a widget
    %nav#main_menu
      = render :partial => 'shared/menu', :locals => { :items => @main_menu_items }

    - @selected_layout.custom_regions.each do |region|
      = show_region region

    = show_region @selected_layout.region(:body_end)
