!!! 5
%html{ :lang => 'en', :xmlns => 'http://www.w3.org/1999/xhtml', 'xml:lang' => 'en'}
  %head
    %title= @title

    %meta{ 'http-equiv' => 'Content-Type', 'content' => 'application/xhtml+xml; charset=utf-8' }/
    = csrf_meta_tag

    - # %link{ :rel => 'shortcut icon', :href => '/images/favicon.ico' }/
    = auto_discovery_link_tag

    = stylesheet_link_tag assets_styles_path(:template => 'default'), :media => 'all'

    = javascript_include_tag assets_scripts_path(:template => 'default')

    / TODO implement as a scion
    = render 'shared/tracking_google', :google_analytics_tracking_code => '123456789.00' if @show_tracking_google

  %body{ :id => page_id, :class => page_classes }
    %header#branding
      %span.h= link_to setting('core.site.name'), root_path
      %span= setting('core.site.tagline')

    %nav#main_menu
      %ul
        - if User.current == User.anonymous
          %li= link_to 'Sign In', new_session_path
        -else
          %li= link_to 'User Profile', node_path(User.current)

    %section#flash
      - [ :error, :warning, :notice ].each do |level|
        = partial 'shared/flash', :level => level, :messages => flash[level] if flash[level]

    %section#content
      = yield

    %footer#credits
      %p= raw "&copy; #{setting('core.site.name')}"

    / TODO implement as a scion
    = render 'shared/unobtrusive' if @show_unobtrusive_badge
    / TODO implement as a scion
    = render 'shared/tracking_woopra' if @show_tracking_woopra
