!!! 5
%html{ :lang => 'en', :xmlns => 'http://www.w3.org/1999/xhtml', 'xml:lang' => 'en'}
  %head
    %title= @title

    %meta{ 'http-equiv' => 'Content-Type', 'content' => 'text/html; charset=utf-8' }/

    %link{ :rel => 'shortcut icon', :href => '/images/favicon.ico' }/

    %script{ :type => 'text/javascript', :src => 'http://assets.ravinggenius.com/js?modernizr=1.1&jquery=1.4' }
    %style{ :type => 'text/css', :media => 'all'} @import url('http://assets.ravinggenius.com/css?html5reset=1.4');
    = auto_discovery_link_tag

    = stylesheet_link_tag 'application'
    = javascript_include_tag 'application'

    :javascript
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-xxxxxx-x']);
      _gaq.push(['_trackPageview']);

      (function () {
        var ga = document.createElement('script');
        ga.type = 'text/javascript';
        ga.async = true;
        ga.src = ('https:' === document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(ga);
      })();

  %body
    %header{ :id => 'branding' }
      %a{ :href => '/' }
        %img{ :src => '/images/logo.png', :alt => 'logo' }/
        %span{ :class => 'h' }= @site_name
      %span= @site_tagline

    %nav{ :id => 'main_menu' }

    %section{ :id => 'content' }
      = yield

    %footer{ :id => 'credits' }
      %p= raw "&copy; 2010 #{@site_name}"

    %div{ :id => 'unobtrusive_badge' }
      %span{ :class => 'selector' }un
      %span{ :class => 'brace' }{
      %span{ :class => 'rule' }ob:tru-sive;
      %span{ :class => 'brace' }}

    %script{ :type => 'text/javascript', :src => '//static.woopra.com/js/woopra.v2.js' }
    :javascript
      woopraTracker.track();
