!!! 5
%html{ :lang => 'en', :xmlns => 'http://www.w3.org/1999/xhtml', 'xml:lang' => 'en'}
  %head
    %title= @title

    %meta{ 'http-equiv' => 'Content-Type', 'content' => 'text/html; charset=utf-8' }/

    %link{ :rel => 'shortcut icon', :href => '/images/favicon.ico' }/
    = auto_discovery_link_tag

    = javascript_include_tag 'http://assets.ravinggenius.com/js?modernizr=1.1&jquery=1.4', 'application'

    = stylesheet_link_tag 'http://assets.ravinggenius.com/css?html5reset=1.4', 'application'

    = render 'shared/tracking_google', :google_analytics_tracking_code => '123456789.00' if @show_tracking_google

  %body{ :id => page_id, :class => page_class }
    %header#branding
      = link_to image_tag('logo.png', :alt => 'logo'), root_path
      %span.h= link_to @site_name, root_path
      %span= @site_tagline

    %nav#main_menu

    %section#content
      = yield

    %footer#credits
      %p= raw "&copy; #{@site_name}"

    = render 'shared/unobtrusive' if @show_unobtrusive_badge
    = render 'shared/tracking_woopra' if @show_tracking_woopra
